@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0px;
  font-family: "Quicksand", sans-serif;
}

.body {
    background-color: white;
}

.header {
    padding-top: 111px;
    position: relative;
}

.logo-image {
  position: absolute;
  top: 0px;
  left: 47%;
  width: 50%;
  height: auto;
  margin-top: 30px;
}

.header-nav {
  height: 70px;
  margin-top: 20px;
}

.menu {
  margin-left: 150px;
  margin-right: 150px;
}

.header-nav ul li {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.header-nav ul li a {
  display: block;
  line-height: 70px;
  width: 145px;
  letter-spacing: 0.5em;
  color: black;
  text-decoration: none;
  transition: all .2s ease-in-out; 
}

.header-nav ul li a:hover {
  transform: scale(1.1); 
  font-weight: bold;
}

.item2 {
  margin-right: 220px;
}

.heading {
    margin: 80px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.wrapper-list {
  margin: 40px;
  display: grid;
  grid-template-columns: 365px 365px 365px;
  grid-template-rows: 365px 365px 365px 365px 365px 365px 365px 365px;
  grid-column-gap: 130px;
  grid-row-gap: 150px;
  background-color: #fff;
  color: #444;
}

.box {
    background-color: #8B8A8A;
    border-radius: 5px;
    padding: 20px;
    position: relative;
  }

.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
}

.box:hover .image {
    opacity: 0.3;
}

.box:hover .middle {
    opacity: 1;
}

.text {
    font-size: 16px;
}

.text a {
  background-color: #B29A9A;
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: all .2s ease-in-out; 
}

.text a:hover {
  background-color: #8F7979;
  transform: scale(1.1); 
  font-weight: bold;
}

.description {
    position: relative;
    text-align: center;
    padding-top: 10px;
    line-height: 35px;
    color: #000000;
}

.title {
    text-align: center;
    font-size: 30px;
}

.date {
    font-size: 15px;
}
